
.App{
    background-color: #f0f0f0 ;
    height: 100vh;
    width: 100vw;
}

h1{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 8vw 2vh 8vw;
    height: 5vh;
    min-height: 70px;
}

header div{
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 80vh;
    width: 60vw;
    margin-left: 20vw;
}

.content{
    margin: 50px;
    padding: 30px;
    margin-bottom: 0;
    width: 80%;
}

.result div{
    margin-top: 20px;
    padding: 10px;
}

.result div div {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    padding: 0;
    margin: 0;
}

input{
    border: none;
    outline: none;
    border-bottom: darkgray 1px solid;
}



/* -----------------------------------------------------
                    Multi Classes
-------------------------------------------------------- */
.shadow-inv{
    box-shadow: inset 5px 5px 10px #c6c6c6, inset -5px -5px 10px #fff!important;
    background-color: #fdfdfd;
}

.shadow{
    box-shadow:  11px 11px 22px #c6c6c6,  -11px -11px 22px #fff!important;
    background-color: #fdfdfd;
}

.shadow-inv-big{
    box-shadow: inset 11px 11px 22px #c6c6c6, inset -11px -11px 22px #fff!important;
    background-color: #f0f0f0;
}

.round {
    border-radius: 20px;
}

.green {
    background-color: lightgreen;
    color: white;
    font-weight: 900;
}

.blue {
    background-color: rgb(92, 189, 250);
    color: white;
    font-weight: 900;
}

button{
    padding: 15px;
    border: none;
    height: 50px;
    margin-right: 10px;
}

.green:hover{
    background-color: rgb(169, 253, 169);
}

.blue:hover {
    background-color: rgb(122, 204, 255);
}

.invisButton{
    margin: 0;
    padding: 0;
    background-color: inherit;
    font:inherit;
    height: auto;
    width: auto;
}